<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BitbucketDomain" value="YOUR_DOMAIN_HERE" />
    <add key="BitbucketBase" value="https://code.{0}/projects" />
    <add key="SCM" value="/scm/" />
    <add key="GithubDomain" value="YOUR_PROFILE_HERE"/>
    <add key="GithubBase" value="https://github.com/{0}"/>
    <add key="GithubScm" value="blob"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>