<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="P2OriginRegex" value="^.*//code\.(?&lt;domain>[\w.]*)/scm/(?&lt;project>[\w]*)/(?&lt;repo>[\w.]*)\.git"/>
    <add key="P2SourceLinkTemplate" value="https://code. domain /projects/ project /repos/ repo /browse/ file"/>
    <add key="P2Match" value="//code."/>
    <add key="P2BookmarksType" value="All"/>
    <add key="P2FriendlyName" value="Bitbutcket"/>
    <add key="P1OriginRegex" value="^.*//github\.com/(?&lt;profile>[\w.]*)/(?&lt;repo>[\w-.]*)\.git"/>
    <add key="P1SourceLinkTemplate" value="https://github.com/ profile / repo /blob/ branch / file"/>
    <add key="P1Match" value="github.com"/>
    <add key="P1BookmarksType" value="Single"/>
    <add key="P1FriendlyName" value="GitHub"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>